<article class="dd-post">
  <header class="dd-post__header">
    {% if (page.media.images | first) %}
      <div class="dd-post__header-thumbnail">
        <img src="{{ page.media[(page.media.images | first).filename].url }}" alt="{{ page.title }}" class="img-responsive" />
      </div>
    {% endif %}
    <div class="dd-post__header-meta">
      <div class="dd-post__header-meta-title">
        <h2>{{ page.title }}</h2>
      </div>
      <div class="dd-post__header-meta-data">
        {% include 'partials/item_meta.html.twig' %}
      </div>
    </div>
  </header>
  <main class="dd-post__body">
    {{ page.content }}
  </main>
  <div class="dd-post__author">
    <div class="dd-post__author-photo">
      {% if page.header.author.photo %}
      <img src="{{ url('theme://public/img/author/' ~ page.header.author.photo) }}" alt="{{ page.header.author.name }}" />
      {% else %}
      <img src="{{ url('theme://public/img/author/datatodash.jpg') }}" alt="Data to Dash Team" />
      {% endif %}
    </div>
    <span>{{ page.header.author.name }}</span>
    <p>{{ page.header.author.bio }}</p>
  </div>
</article>
